<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42399702999-r3g7tj51tl6re280llua6cko9rbrqo2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42399702999-r3g7tj51tl6re280llua6cko9rbrqo2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDClpALGRmG6r-jqVqCw7WP4Z7a9L6fBIs</string>
	<key>GCM_SENDER_ID</key>
	<string>42399702999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redhotapp.estRaki</string>
	<key>PROJECT_ID</key>
	<string>estraki</string>
	<key>STORAGE_BUCKET</key>
	<string>estraki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42399702999:ios:31c9dacd88a842e097f592</string>
	<key>DATABASE_URL</key>
	<string>https://estraki.firebaseio.com</string>
</dict>
</plist>